<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="/static/css/style.css">
<title>指标选择</title>
<style>
label {
display: block;
margin-bottom: 10px;
}

#button-container {
position: fixed;
bottom: 0;
left: 0;
right: 0;
padding: 10px;
background-color: #f0f0f0;
}
.hidden-button {
  display: none;
}

.big-font {
            font-size: 30px;
            font-weight: bold;
        }
</style>
</head>
<body>
<nav class="shell">
        <ul class="buttons">
            <li class="li" ><a href="{% url 'drag' %}">Rank</a>

                <ul>
                    <li>注意事项：</li>
                    <li>Evaluation</li>
                    <li>Shopkeeper</li>
                    <li>Management</li>
                </ul>
            </li>

            <li class="li" ><a href="{% url 'match' %}">Match</a>
                <ul>
                    <li>Warehouse    </li>
                    <li>deliver goods</li>
                    <li>stock        </li>
                    <li>mail         </li>
                    <li>return goods </li>
                </ul>
            </li>

            <li class="li" ><a href="{% url 'stock_chart' %}">Chart</a>
                <ul>
                    <li>Release baby   </li>
                    <li>Posting Details</li>
                    <li>Shop decoration</li>
                </ul>
            </li>

        </ul>
    </nav>
        <div class="animation"><img src="/static/img/pig.png" alt="pig" style="width:300px;height:auto"></div>
<h1 class="big-font">数据正在处理中，请耐心等待...</h1>
    <form action="{% url 'Rresult' %}">
        <button type="submit">查看结果</button>
    </form>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% load static %}
<script src="{% static '/js/Rresult.js' %}"></script>
</body>
</html>